/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Profile image styles */
.profile-image {
    text-align: center;
    margin-top: 1rem;
}

.profile-image img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

header h1 {
    margin-bottom: 0; /* Remove default margin */
}

header p {
    margin: 0.5rem 0;
}

header a {
    color: white; /* Keeping header links white for visibility against dark background */
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}

/* Navigation styles */
nav {
    background-color: #555;
    padding: 0.5rem;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 0.5rem 1rem;
}
nav ul li a:hover {
    background-color: #777;
}

/* Main content styles */
main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

/* Section styles */
section {
    margin-bottom: 2rem;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
section h2 {
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
section p {
    color: #666;
    line-height: 1.8;
}

/* Education and Experience item styles */
.education-item, .experience-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.education-item img, .experience-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 1rem;
}

/* Contact section styles */
#contact p {
    color: #333;
    line-height: 1.8;
}

/* Style for links */
a {
    color: blue; /* Makes all other links blue */
    text-decoration: none; /* Optional: removes the underline */
}

a:hover {
    text-decoration: underline; /* Optional: adds underline on hover */
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: none; /* Initially hidden */
}
footer p {
    margin: 0.5rem 0;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
